.texts{
    width:300px;
    font-size: 15pt;
  }
  .numbers{
    max-width:80px;
    font-size: 15pt;
  }
  .numbers::-webkit-inner-spin-button, 
  .numbers::-webkit-outer-spin-button {  
     opacity: 1;
  }
  .boxes{
    padding: 5px;
    width: 100%;
  }
  .submit{
    font-size: 15pt;
    width: 200px;
    border: solid black 2px;
    background-color: lightskyblue;
    border-radius: 10px;
    font-weight: bold;
    float: right;
    cursor: pointer;
  }